.color-success{
    background:#6cb2eb;
    color: white;
}
.color-error{
    background: #f2dede;
    color: #a94442;
}
.message-notification{
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.style-notification {
    margin: 0 auto;
    width: 1074px;
}
.clear {
    clear: both;
}
.overflow {
    overflow: hidden;
}
.width-240 {
    width: 240px;
}
.style-word {
    word-break: break-word;
}
.display-n {
    display: none;
}

.red-text {
    color: red !important;
    margin-top: 3px;
    text-align: left !important;
}
select:focus {
    outline:none;
    border:none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.padding-left-5{
    padding-left: 5px;
}

.img-banner-error{
    padding-left: 15px;
}

.btn-image-banner{
    width: 100%;
    display: flex;
    align-items: center;
}
.rabutton{
    display: flex !important;
    flex-wrap: wrap;
}

.custom, .custom select{
    height: 46px;
}

.flowtable td{
    padding-top: 15px;
}

.stop-selling{
    background: green !important;
}

@media screen and (max-width: 397px) {
    .custom{
        margin-top: 5px;
    }
}
@media screen and (max-width: 378px) {
    .sp-mt-neg-85 {
        margin-top: -85px !important;
    }
}
@media screen and (max-width: 355px) {
    .sp-mt-neg-86 {
        margin-top: -86px !important;
    }
}
@media screen and (max-width: 335px) {
    .sp-mt-neg-77{
        margin-top: -77px !important;
    }
}
@media screen and (max-width: 380px) {
    .sp-mt-neg-55 {
        margin-top: -55px !important;
    }
}

@media screen and (max-width: 480px) {
    #headerIn .StoreName a {
        background: red;
    }

    .btn-image-banner{
        width: 260px;
        display: block;
        height: 100%;
    }

    .img-banner-error{
        display: block;
        padding-left: 0;
        margin-top: 5px;
    }
}

@media screen and (max-width: 768px) {
    .link-content{
        white-space: pre-wrap !important;
    }
    .sp-dialog{
        width: calc(100vw - 30px) !important;
    }
    .Breadcrumb li{
        margin-bottom: 5px;
    }
    .line, .full_input input, input[name="searchKey"], input[type="password"], textarea {
        width: calc(100vw - 30px);
    }
    .custom{
        margin-bottom: 5px;
    }

    #headerIn .LogOut{
        bottom: 66px;
        left: auto;
        right: 80px;
    }
    #headerIn .StoreName {
        bottom: 30px;
        left: auto;
        right: 80px;
    }

    .pinned .no-data {
        display: none !important;
    }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

}

/* Custom CSS Datepicker */

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
    margin-left: 16px;
    width: 20%;
}
.ui-datepicker select.ui-datepicker-year::-webkit-scrollbar {
    display: none;
}
.ui-datepicker-title {
    font-weight: 400;
}
.ui-datepicker-title span, .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    vertical-align: middle;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    color: #ffffff;
}

/* End - Custom CSS Datepicker */

/* CSS for IE */
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }

select::-ms-expand {
    display: none;
}
/* End - CSS for IE */