.error {
    margin-top: 45px;
}

.error .error_title {
    padding: 22px 25px 30px 25px;
    background-color: #ff9a9a;
}

.error .error_title .title {
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
}

.error .error_title .description {
    color: #fff;
    font-size: 16px;
    margin-left: 22px;
    font-family: "Kozuka Gothic Pr6N";
}

.error .warning_img {
    text-align: center;
    margin-top: 90px;
}

.error .content {
    text-align: center;
    margin-top: 22px;
}

.error .content .content_error {
    text-align: center;
}

.error .content .content_error p {
    margin: 0px auto;
    width: 545px;
    font-size: 16px;
    color: #959595;
}

.error .content .title {
    font-size: 30px;
    font-weight: bold;
    color: #7c7c7c !important;
}

.error .button {
    text-align: center;
    margin-top: 85px;
    margin-bottom: 190px;
}

.error .button .button_back {
    background-color: #fff;
    padding: 14px 35px;
    color: #676767;
    border: 1px solid #d6d6d6;
    font-size: 14px;
}

@media (max-width: 768px) {
    .error .error_title .title{
        font-size: 15px;
    }
    .error .error_title .description{
        font-size: 14px;
        margin-left: 10px;
    }
    .error .button {
        margin-top: 50px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 414px) {
    .error .warning_img{
        margin-top: 50px;
    }

    .error .content .title {
        font-size: 20px;
    }

    .error .content .content_error p {
        width: 350px;
        text-align: left;
    }

    .error .button {
        margin-top: 50px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 375px){
    .error .content .content_error p {
        width: 340px;
        text-align: left;
    }
}
@media screen and (max-width: 320px){
    .error .content .content_error p {
        width: 290px;
        text-align: left;
    }
}