
@font-face {
    font-family: Kozuka Gothic Pr6N;
    src: url('../fonts/KozGoPr6N-Regular.otf');
}

.step1 .searchTime table {
    width: 100%; /* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;
}

.step1 .searchTime table tbody,
.step1 .searchTime table thead { display: block; }

.step1 .searchTime thead tr th {
    height: 30px;
    line-height: 30px;
    /*text-align: left;*/
}

.step1 .searchTime  table tbody {
    height: 320px;
    overflow-y: overlay;
    overflow-x: hidden;
    margin-left: 1px;
}

.step1 .searchTime  tbody td, thead th {
    border-right: 1px solid black;
}

.step1 .searchTime  tbody td:last-child, thead th:last-child {
    border-right: none;
}
.step1 .searchTime table tr{
    width: 100%;
}

.date-search i{
    cursor: pointer;
}

.red-text {
    color: red !important;
    margin-top: 5px;
    text-align: left !important;
}

.box-content {
    overflow-y: scroll;
    overflow: auto;
}

.box-content a {
    color: black;
}

.shopping-cart-fix-bottom .box-cart img {
    margin-left: 35%;
}

#slider-main .slider-main img {
    max-height: 360px;
}

#section-search .searchTime table td.input label.checkmark {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 1px solid #d7d7d7;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

#section-search .searchTime .shops {
    display: none;
}

#section-search .searchTime table tr.selected td.input label.checkmark {
    background-color: #ec0019;
    border: none;
}

#section-search .step2 .main-step button.selected {
    margin-top: 10px;
}

#section-search .step2 .main-step button {
    margin-top: 10px;
}

.date-search {
    text-align: center;
}

#section-search .step3 .main-step .date-search i {
    right: 120px;
    z-index: 20;
}

#information-detail .title-info{
    font-size: 18px;
    font-weight: 800;
}

.item-product .price .money{
    font-size: 18px;
}

#section-search .step3 .main-step .date-search input {
    width: 75%;
    float: left;
}

.information-detail .title-page .title{
    margin-bottom: 10px;
}

#section-search .step3 .main-step .date-search {
    width: 420px;
}

#section-search .step3 .main-step .date-search select {
    height: 40px;
    padding: 0 10px;
    border: 1px solid #d6d6d6;
    float: right;
    margin-top: 5px;
}

.datepicker-days tbody tr td{
    border: 1px solid #cfcfcf;
    background-color: #f1f1f1;
    text-align: right;
}

.datepicker-days tbody tr td.old{
    background-color: #f8f9fa;
}

.datepicker-days thead th label{
    width: 12px !important;
    height: 12px !important;
    line-height: 13px;
    background-color: #dd0917;
    color: white;
    border-radius: 50%;
    font-size: 9px;
}

.datepicker-days thead tr:first-of-type{
    background-color: #ddd;
}

.datepicker-days table{
    border-collapse: separate;
    border-spacing: 2px;
}

.datepicker.dropdown-menu th, .datepicker.dropdown-menu td {
    padding: 4px 8px !important;
}

.datepicker td, .datepicker th {
    border-radius: 0px !important;
}

.datepicker-days thead tr:first-of-type th{
    border-radius: 0px;
}

.submit-Form {
    display: none;
}

#section-search .container {
    margin-bottom: 20px;
}

.item-product .red-text {
    font-weight: bold;
}

.step1 .searchTime {
    position: relative;
}

.step1 .content-search img.lazy-load {
    position: absolute;
    left: 50%;
    top: 40%;
    z-index: 9999;
    display: none;
}

.step2 .main-step {
    position: relative;
}

.step2 .main-step img.lazy-load, .step3 .main-step img.lazy-load {
    position: absolute;
    left: 47%;
    top: 40%;
    z-index: 9999;
    display: none;
}

#list-products {
    position: relative;
}

#list-products img#item-load {
    position: absolute;
    left: 47%;
    top: 40%;
    z-index: 9999;
    /*display: none;*/
}

.btn_submit #item-load{
    display: none;
}

.mypage_cancel_order_confirm .button_group_footer .button_footer_submit.active {
    background-color: #eb0015;
    color: white;
}

.mypage_cancel_order_confirm .button_group_footer .button_footer_submit .lazy-load{
    display: none;
}

#modal-cancel-complete label{
    text-align: center;
}

#section-search .btn_submit button.active{
    background-color: #eb0015;
    color: white;
}
#section-search .btn_submit button.active i{
    color: white;
}

.go-order-process img.lazy-load {
    display: none;
}

.go-order-process.active {
    background-color: #eb0015 !important;
    color: white !important;
}

#list-products .box-container-top .filter-product .box-input input {
    font-weight: 600;
    width: 100%;
    height: 100%;
    color: #383838;
    padding: 0 15px;
    border: 1px solid #d6d6d6;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: white;
}

#slider-main .left-content .box-bg .box-content .row-content{
    justify-content: center;
    display: flex;
}

.store-link .date-receive{
    margin-right: 10px;
}

.empty-search-product{
    width: 100%;
    text-align: center;
    font-size: 22px;
}

#slider-main .left-content .box-bg .title{
    display: flex;
    margin-bottom: 0px;
    font-size: 15px;
}

#slider-main .left-content .box-bg .title p{
    margin-right: 10px;
    font-size: 18px;
    margin-top: -1px;
}

.cart .back-to-page .back-step {
    background: #ffffff;
    width: 180px;
    height: 41px;
    border: 1px solid #d6d6d6;
    color: #666666;
    padding: 0 14px;
    font-size: 16px;
    float: left;
    line-height: 41px;
}

.complete-wrap .complete-map-chart{
    width: 100%;
    height: 300px;
}

label.required-confirm{
    font-weight: bold;
}

.modal-content .group-input {
    margin: 20px;
}

.modal-content .group-input .selectItem {
    width: 50%;
}

.modal-content select {
    width: 100%;
    height: 35px;
    font-size: 14px;
}

.modal-footer button {
    font-size: 14px;
}

.title_result_search {
    font-weight: bold;
    color: red;
}

.button_back_item {
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 5px 10px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.name_item_detail {
    font-size: 26px;
    font-family: hirakakupro-w6;
    color: black;
    line-height: 1.846;
    margin-bottom: 30px;
}

.check_required_confirm {
    background-color: #fff;
    border: 1px solid red;
    padding: 5px 10px;
    border-radius: 5px;
    color: red;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
}

.confirm_checked {
    color: #fff;
    background-color: red;
}

.entry input {
    color: #000 !important;
}

.shopping-cart-fix-bottom {
    position: fixed;
    width: 15%;
    bottom: 10px;
    z-index: 20;
    right: 400px;
}

.basket-popup-fix {
    width: 258px;
    border: solid 3px #dd0917;
    position: absolute;
    z-index: 1000;
    bottom: 0;
    right: 0;
}

#mapShow .mapChart{
    padding: 0;
}

.shopping-cart-fix-bottom .box-cart {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    font-style: normal !important;
    display: none;
}

.shopping-cart-fix-bottom .box-cart p {
    background: #dd0917;
    color: #fff;
    padding: 20px 20px 20px 20px;
    box-shadow: 0px 0px 5px 3px #ccc;
    margin-bottom: 20px;
    position: relative;
    border-radius: 50%;
    min-width: 140px;
}

.shopping-cart-fix-bottom .box-cart span {
    display: block;
}

.shopping-cart-fix-bottom .box-cart span.no {
    background: #fff;
    color: #000;
    padding: 5px;
    margin: 5px 0;
    font-weight: bold;
    text-align: center;
    border-bottom: none !important;
}

.box-cart .fa-shopping-cart{
    color: #dd0917;
    font-size: 30px;
    margin-left: 35%;
}

.shopping-cart-fix-bottom .box-cart span {
    display: block;
}

.shopping-cart-fix-bottom .box-cart p::after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-top: solid 15px #dd0917;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    bottom: -14px;
}

.basket-popup {
    width: 270px;
    border: solid 3px #dd0917;
    z-index: 1000;
    background-color: white;
}

.text-description-popup-cart p {
    color: #dd0917;
    padding-left: 30px;
    font-weight: bold;
}

.basket-popup.position-fixed {
    position: fixed;
    top: auto;
    right: calc((100% - 1176px) / 2);
    bottom: 0;
}

.basket-popup-header {
    display: block;
    color: #fff;
    font-size: 18px;
    padding-left: 40px;
    background: url(../images/basket.png) no-repeat 7px 4px, #dd0917;
    line-height: 30px;
    height: 35px;
    position: relative;
    cursor: pointer;
}

.basket-content .button-checkout {
    justify-content: center;
    display: flex;
    border-bottom: 2px solid #dd0917;
    padding-bottom: 10px;
}

.basket-popup-header .close-popup {
    background: url(../images/close_popup.png) no-repeat;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.total-basket {
    margin-top: 10px;
    margin-left: 10px;
}

.basket-content {
    background-color: #fff;
    overflow: hidden;
}

.basket-content .list-item-block .product-bottom {
    border: 1px solid #d6d6d6;
    background-color: #f1f1f1;
    padding-top: 10px;
    display: inline-block;
    width: 100%;
}

.basket-content .list-item-block .product-bottom ul {
    padding-inline-start: 12px;
}

.basket-content .list-item-block .product-bottom strong {
    color: black !important;
}

.basket-content .list-item-block .product-bottom ul li a {
    float: left;
    margin-bottom: 10px;
}

.basket-content .list-item-block .product-bottom ul li a label {
    float: left;
    width: 100%;
    margin-bottom: 0px;
    font-size: 14px;
}

.basket-content .list-item-block .product-bottom ul li a strong {
    float: left;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
}

.item-quantity .tCenter {
    text-align: center;
}

.item-quantity span {
    cursor: pointer;
}

.text-description-popup-cart {
    width: 224px;
    margin-left: 12px;
    font-size: 20px;
    text-align: right;
}

.list-item-block, .list-item-block-fix {
    max-height: 360px;
    overflow: auto;
}

.item-block {
    margin: 12px;
    float: left;
    border-bottom: 1px solid #cfcfcf;
}

.list-item-block .item-info {
    height: 100px;
    float: left;
    width: 100%;
}

.detail .detail-top .item{
    height: 360px;
}

.detail .detail-top .item img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.item-info img {
    width: 85px;
    float: left;
}

.link-product-item {
    color: #000000 !important;
    text-align: center;
    width: 50%;
    float: right;
}

.item-info span {
    display: inline-block;
    width: 100px;
    line-height: 18px;
    margin-left: 5px;
    font-weight: bold;
    vertical-align: top;
}

.list-item-block .item-quantity span {
    border-radius: 3px;
    width: 28px;
    background-color: #bdc3c7;
    display: inline-block;
    text-align: center;
    color: white;
    height: 25px;
    line-height: 25px;
}

.price-total-products .number {
    color: #dd0917 !important;
}

.list-item-block .item-price-info strong {
    font-size: 12px;
    line-height: 24px;
}

.title-product.bonus-fix {
    margin-bottom: 10px;
    margin-top: 0px !important;
}

.cart .cart-list-show .list-items .information-cart.right .title-product h3 a {
    margin-right: 30px;
}

.information-detail.bonus-fix {
    margin-top: 0px !important;
}

.information-order .date{
    margin-left: 10px;
}

#list-products .products-show .item-product .add-to-cart {
    width: 88%;
    margin-left: 15px;
    color: #eb0015;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #eb0015;
    height: 40px;
    background-color: #ffffff;
}

.item-price-info span {
    color: #dd0917;
    font-size: 20px;
    display: block;
    line-height: 28px;
    font-weight: bold;
}

.add-to-cart.active {
    background-color: #eb0015 !important;;
    color: white !important;
}

.add-to-cart img.lazy-load {
    padding-left: 30px;
    display: none;
}

.item-quantity {
    float: left;
}

.item-quantity span .icon {
    vertical-align: top;
    cursor: pointer;
}

.item-quantity .quantity-number {
    width: 70px;
    height: 25px;
    font-weight: bold;
    color: #000;
    border: solid 1px #a6a19c;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    background-color: #fffde6;
    line-height: 23px;
    border-radius: 0;
}

.cart-list-show .list-items .error {
    margin-top: 15px;
    float: left;
    padding: 5px;
    background-color: #dd0917;
    color: white !important;
    border-radius: 3px;
    display: none;
}

.icon.icon-sub {
    background-position: -118px -269px;
    height: 25px;
    margin-right: 5px;
    width: 26px;
}

i.icon {
    /*background: url(../images/sprite.png) no-repeat;*/
    display: inline-block;
}

.list-item-block .item-price .item-delete, .list-item-block-fix .item-price .item-delete {
    width: 65px;
    vertical-align: bottom;
    margin-top: 30px;
    float: left;
}

.item-delete {
    float: left;
    width: 50%;
    margin-bottom: 10px;
}

.list-item-block .item-delete a {
    color: #585555;
    font-size: 14px;
    line-height: 14px;
    padding: 6px 10px 6px 25px;
    border-radius: 4px;
    border: solid 1px rgb(166, 161, 156);
    background: url(../images/trash.png) no-repeat 8px center, rgb(239, 239, 239);
}

.item-price > div {
    display: inline-block;
}

.list-item-block .item-price-info, .list-item-block-fix .item-price-info {
    width: 155px;
    text-align: right;
    float: right;
    margin-top: 10px;
    display: grid;
}

.item-price {
    float: right;
}

.item-price-info span {
    font-size: 12px;
    display: inline-block;
}

.no-data-cart{
    text-align: center;
    width: 100%;
    float: left;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}

#modal-cart-remove label{
    width: 100%;
    text-align: center;
}

.item-price-info span.money-text {
    font-size: 20px !important;
    margin-right: 5px;
}

.item-price-info strong.money-text {
    font-size: 14px;
    margin-right: 5px;
    font-weight: bold;
    font-family: 'cursive';
}

.basket-content .item-price {
    width: 100%;
}

.basket-content .item-info img{
    height: 85%;
    width: 95px;
    float: left;
    object-fit: contain;
}

.button-checkout a {
    width: 190px;
    height: 30px;
    display: inline-block;
    font-weight: bold;
    line-height: 30px;
    margin-top: 11px;
    text-align: center;
    background-color: red;
    color: white;
    border-radius: 15px;
}

.btn-close-cart {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.cart-item-content .check_required_confirm {
    line-height: 15px;
    font-size: 14px;
    margin-right: 5px;
}

.btn-close-cart span {
    background: url(../images/box-arrow.png) no-repeat 10px center #efefef;
    cursor: pointer;
    display: inline-block;
    padding: 7px 10px 7px 40px;
    border: 1px solid #585555;
    border-radius: 5px;
}

.empty-cart, .loading-cart {
    display: none;
}

.error {
    color: #db0009;
    padding-left: 5px;
}

.customer_cancel_booking {
    font-weight: bold;
    font-size: 18px;
    margin-top: 25px;
    color: red;
    border: 2px solid red;
    text-align: center;
    padding: 5px;
    width: 170px;
}
#login-wrap .login{
    margin-top: 50px;
    margin-bottom: 100px;
}
#login-wrap .login input{
    color: #000 !important;
}
.title_customer_change_order {
    font-weight: bold;
    font-size: 18px;
    color: red;
    text-align: center;
    margin-bottom: 15px;
    width: 820px;
    border: 2px solid red;
    padding: 5px;
}
.change_customer_info .group_button {
    padding: 15px 18px 15px 17px;
    background-color: #f1f1f1;
}
.change_customer_info .group_button .change_email {
    background-color: #ffffff;
    color: #ec1125;
    border: 1px solid #eb0015;
    font-size: 14px;
    padding: 10px 15px;
}
.change_customer_info .title-page h1 {
    font-size: 26px;
    font-weight: bold;
}
.change_customer_info .group_button .login {
    float: right;
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
    font-size: 14px;
    padding: 10px 15px;
}
.change_customer_info .group_button .button_back {
    font-weight: bold;
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
    font-size: 14px;
    margin-right: 5px;
    padding: 10px 15px;
}
.change_customer_info #form_change_customer_info {
    margin-top: 32px;
}
.change_customer_info .title {
    font-weight: bold;
    font-size: 18px;
    margin-left: 13px;
}
.change_customer_info .title span {
    font-weight: bold;
    font-size: 16px;
}
.change_customer_info .form_input {
    margin-left: 35px;
}
.change_customer_info .group_input {
    margin-bottom: 25px;
}
.change_customer_info .group_input .td_old {
    width: 245px;
}
.change_customer_info .group_input .label_old {
    font-size: 16px;
    font-weight: bold;
    width: 245px;
}
.change_customer_info .group_input .old_data {
    font-size: 16px;
    font-weight: bold;
}
.change_customer_info .group_input .old_data span {
    margin-left: 5px;
}
.change_customer_info .group_input .new_data {
    clear: both;
    width: 435px;
    padding: 0 10px;
    height: 50px;
    border: 1px solid #d6d6d6;
    margin-left: 5px;
}
.change_customer_info .group_input .label_new {
    font-size: 16px;
    font-weight: bold;
    margin-left: 247px;
    margin-top: 10px;
}
.change_customer_info .group_input .td_card_no {
    margin-top: 10px;
}
.change_customer_info .group_input .card_no input {
    width: 150px;
    padding: 0 10px;
    height: 50px;
    border: 1px solid #d6d6d6;
}
.change_customer_info .button {
    margin-bottom: 100px;
    margin-top: 85px;
}
.change_customer_info .button .button_submit {
    width: 230px;
    height: 40px;
    padding: 0 20px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 18px;
    font-family: hirakakupro-w6, hirakakupro-w3;
    color: #eb0015;
    background-color: #ffffff;
    border: 1px solid #eb0015;
}

.message-mail{
    float: left;
    text-align: center;
    color: blue;
    margin-bottom: 10px;
    font-size: 14px;
    width: 100%;
}

.store-link strong{
    font-size: 18px;
}

.category-submit{
    color: #dd0917 !important;
    border: 1px solid #dd0917 !important;
    border-radius: 20px;
}

.item-product .bonus-text{
    height: 20px;
    margin-bottom: 5px;
    display: flex;
}

.loading-main{
    position: fixed;
    width: 100%;
    height: 2000px;
    top: 0%;
    z-index: 99999;
    background-color: #007bff24;
    opacity: 0.9;
    color: black;
    display: none;
}
.loading-main img{
    left: 47.5%;
    position: absolute;
    top: 10%;
    display: flex;
}
.password_reissue .content-logout .top-text .content-text p{
    cursor: pointer;
}

.my_page_change_password #form-mypage-changepass .button_submit .error_no_blank{
    color: red;
    font-weight: bold;
}
.my_page_change_password #form-mypage-changepass .button_submit .message_success{
    margin-top: 10px;
}
.my_page_change_password #form-mypage-changepass .form_title{
    margin-bottom: 40px;
}
.my_page_change_password #form-mypage-changepass .button_submit .message_success a{
    font-weight: bold;
    color: blue;
}
.detail .button_back_item{
    color: black;
}
.detail .detail-top .info_top label{
    font-size: 16px;
}
.detail .detail-top .info_top span{
    font-size: 20px;
}
.detail .detail-top .detail_about{
    font-weight: bold;
}
.detail .detail-top .detail_content2{
    margin: 40px 0px;
    word-break: break-word;
    font-weight: bold;
}
.detail .detail-top_right .price .unit{
    font-size: 22px;
}
.detail .detail-top_right .price .tax{
    font-size: 22px;
}

.item-product .thumbnai img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.login-text .text-content .content-middle i{
    float: left;
}
.login-text .text-content .content-middle p{
    float: left;
    width: 90%;
    margin-left: 10px;
}

#main-menu{
    float: right;
}

.required-datesearch{
    float: left;
}

#list-products .products-show .item-product .quantity button{
    line-height: 20px;
}

#list-products .products-show .item-product .thumbnai{
    height: 180px;
}

#list-products .box-container-bottom .filter-condition .tags-condition.tag-top ul li{
    min-height: 30px;
    vertical-align: middle;
    line-height: 25px;
    height: auto !important;
}
#list-products .box-container-bottom .filter-condition .tags-condition.tag-top ul li a{
    padding: 5px;
}

#list-products .products-show .item-product .title{
    margin-bottom: 0px;
    height: 50px;
}
.mypage .note p span{
    cursor: pointer;
}

.cart-list-show .list-items img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.modal-footer .btn-default{
    border: 1px solid #c9c9c9;
}

.prog ul li.current:after{
    background-color: #EC0019 !important;
}

.password-wrap .formPassword .group-input input{
    color: black !important;
}
.my-page .customer_cancel{
    padding-bottom: 54px !important;
}
.my-page .customer_cancel_label{
    height: 100%;
}
.my-page .shop_cancel{
    min-height: 175px;
}
.mypage .my_order_group .my_order_infomation{
    min-height: 220px !important;
    height: unset;
}
.mypage .my_order_group{
    height: 100%;
}

#datepicker{
    color: black !important;
}

.entry_notregistration .event_name label {
    font-size: 15px;
    color: #565656;
    margin-right: 5px;
}

.entry_notregistration .event_name span {
    font-size: 18px;
    font-weight: bold;
}

.entry_notregistration input{
    color: black !important;
}

.policy_entry {
    font-family: "Kozuka Gothic Pr6N";
    margin-bottom: 75px;
}

.policy_entry p{
    font-weight: normal !important;
}

.policy_entry .title_page {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 33px;
    margin-left: 5px;
}

.policy_entry .guild_content {
    margin-left: 20px;
}
.policy_modal_popup{
    margin: 10px 0px;
}
@media screen and (max-width: 980px){
    .sp{
        display: block !important;
    }
}
@media screen and (max-width: 768px){
    .policy_entry .guild_content {
        margin-left: 5px;
    }
}

.sp{
    display: none;
}

.policy_entry .guild_content .group_content {
    margin-bottom: 55px;
}

.policy_entry .guild_content .space_top {
    margin-top: 103px !important;
}

.policy_entry .guild_content .space_top1 {
    margin-top: 65px !important;
}

.policy_entry .guild_content .group_content .title_content {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 25px;
}

.policy_entry .guild_content .group_content .description_content {
    font-size: 16px;
    font-weight: 500;
}

.policy_entry .guild_content .group_content .description_content p {
    margin-top: 5px;
}

.policy_entry .guild_content .group_content .description_content a {
    color: #0074d7;
    text-decoration: none;
}

.policy_entry .guild_content .group_content .description_content .description_product {
    margin-top: 35px;
}

.number-product-order {
    background: #dd0917 none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    height: auto;
    line-height: 20px;
    margin-left: 8px;
    width: auto;
    padding: 0 8px;
}

#number-product-order{
    display: none;
}
.container .mypage_cancel_order_complete .button_back button{
    margin-top: 30px !important;
}

.cart .info_product .product_name a{
    color: blue !important;
}

.TextC{text-align:center}
.pc-ml-250{margin-left: 250px;}
.pc-ml-315{margin-left: 315px;}

.checkbox-error .red-text{
    text-align: center !important;
}
.cart .info_product .product_name{
    color: black !important;
    text-decoration: none !important;
}

.cart .info_product .product_name .required-confirm{
    margin-left: 20px;
}
.container .mypage_cancel_order_complete .cart .image_product{
    float: left;
    margin-right: 20px;
    width: 105px;
    border: 1px solid #cfcfcf;
    padding: 10px 0px;
}

.container .mypage_cancel_order_complete .cart .image_product img{
     border: none !important;
     padding: 10px 0px !important;
    height: 100% !important;
    width: 100% !important;
    object-fit: contain
}

.order_details .text_order label{
    margin-left: 15px;
}

@media screen and (max-width: 960px) {
    .pc-ml-250{ margin-left: auto;}
    .pc-ml-315{ margin-left: auto;}
}

@media screen and (max-width: 768px) {
    .mypage .my_order_group .title_customer_change_order{
        width: 100% ;
    }
    .mypage .my_order_group .my_order_infomation .order_details tr .text_order{
        word-break: break-all;
    }

}
@media screen and (max-width: 414px) {
    .mypage .my_order_group .my_order_infomation {
        padding: 15px;
    }
    .mypage .my_order_group .my_order_infomation .order_details tr .order_label{
        width: 40% !important;
    }
    .my-page .customer_cancel_label{
        height: 20%;
    }
    .my-page .shop_cancel{
        height: 20%;
    }
    .my-page .shop_cancel{
        height: 100%;
        min-height: unset;
    }
}
#mypage_cancel_order_confirm .cart .image_product{
    height: 105px;
    width: 105px;
}

#mypage_cancel_order_confirm .cart .image_product img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
@-moz-document url-prefix() {
    .cart .number{
        display: inherit;
    }
    .cart .cart-total ul li span.total-number-price .number{
        display: inherit !important;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE10+ CSS styles go here */
    .cart .number{
        display: inline-flex;
    }
    .cart .cart-total ul li span.total-number-price .number{
        display: inline-flex !important;
    }
    select::-ms-expand {
        display: none;
    }
}
@media screen and (min-width: 640px), screen\9 {
    /* IE10+ CSS styles go here */
    .cart .number{
        display: inline-flex;
    }
    .cart .cart-total ul li span.total-number-price .number{
        display: inline-flex !important;
    }
}

@media screen and (max-width: 1024px) {
    .title_customer_change_order{
        width: 620px;
        font-size: 15px;
    }
    .customer_cancel_booking{
        font-size: 15px;
    }
    .change_customer_info .group_input .td_old {
        width: 220px;
    }

    .change_customer_info .group_input .label_new {
        margin-left: 5px;
    }
}
@media screen and (max-width: 767px){
    .header-sp .item-cart {
         width: 40%;
    }
    .shopping-cart-fix-bottom{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .login .login-text .content-middle p{
        clear: none;
    }
    .content-middle i {
        margin-top: 5px;
    }
    .mypage_cancel_order_confirm hr{
        margin-top: 13rem;
    }
    .row-2 .address, .row-2 .label_td{
        padding-top: 6px !important;
    }

    .detail .detail-top .info_top span{
        font-size: 20px;
    }
    #login-wrap .login{
        margin-top: 15px;
        margin-bottom: 50px;
    }
    .title_customer_change_order{
        width: 410px;
    }
    #list-products .products-show .item-product .thumbnai{
        margin-bottom: 0px;
    }
    #list-products .products-show .item-product .price{
        margin-bottom: 0px;
        text-align: left;
        margin-top: 0px;
    }

    #list-products .products-show .item-product .quantity button{
        line-height: 0px;
        margin-bottom: 30px;
    }

    #list-products .products-show .item-product .quantity input{
        vertical-align: middle;
    }

    button, [type="button"], [type="reset"], [type="submit"] {
        cursor: pointer !important;
    }

    .cart .cart-list-show .list-items .information-cart.right .title-product h3 a{
        float: left;
        margin-bottom: 10px;
        text-decoration: none;
    }

    .cart .cart-list-show .list-items .information-cart.right .title-product h3 a {
        border-bottom: none;
    }

    .cart .back-to-page .back-step{
        float: none;
        padding: 10px 14px;
    }

    .header-sp .menu-sp{
        width: 15%;
    }

    .cart .group-btn-bottom a.go-order-process{
        margin-top: 10px;
    }
    .login .bg-content-box{
        padding: 20px 5px;
    }
    .prog ul li.current:after{
        background-color: red !important;
    }

    #complete-wrap .back-to-page{
        text-align: center;
    }

    #complete-wrap .cart .group-btn-bottom.setFloat button:last-child{
        margin-top: 10px;
    }

    .mypage_cancel_order_confirm .cart .info_product, .mypage_cancel_order_complete .cart .info_product{
        float: left;
        width: calc(100% - 100px);
        margin-left: 10px;
        margin-top: 0px !important;
    }
    .mypage_cancel_order_confirm .cart .info_product .detail_product, .mypage_cancel_order_complete .cart .info_product .detail_product{
        margin-top: 0px !important;
    }

    .mypage_cancel_order_confirm .cart .info_product .detail_product, .mypage_cancel_order_complete .cart .info_product .detail_product{
        float: left;
        padding: 5px;
    }
}

@media screen and (max-width: 991px){
    .shopping-cart-fix-bottom {
        right: 150px;
    }

}

@media screen and (max-width: 414px) {
    .detail .detail-top .detail_content2{
        margin: 10px 0px;
    }
    .detail .detail-top .info_top span{
        font-size: 16px;
    }
    #section-search .step3 .main-step .date-search input{
        width: 100%;
    }

    #section-search .step3 .main-step .date-search i{
        right: 20px;
    }

    #section-search .step3 .main-step{
        padding: 50px 0;
    }

    #section-search .step3 .main-step .date-search select{
        float: none;
    }

    .title_customer_change_order{
        width: 310px;
    }
    .customer_cancel_booking{
        width: 310px;
    }
    .change_customer_info .form_input{
        margin-left: 10px;
    }
    .change_customer_info .group_button{
        text-align: center;
    }
    .change_customer_info .group_button .login {
        font-size: 14px;
        width: 300px;
        padding: 5px 10px;
        float: none;
    }
    .change_customer_info .group_button .button_back {
        font-size: 14px;
        width: 300px;
        padding: 5px 10px;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .change_customer_info .group_button .change_email {
        width: 300px;
        font-size: 14px;
        padding: 5px 10px;
        margin-bottom: 10px;
    }
    .change_customer_info .group_input .td_old {
        width: 170px;
    }
    .change_customer_info .group_input .label_new {
        margin-left: 5px;
    }
    .change_customer_info .group_input .new_data {
        width: 320px;
        height: 35px;
    }
    .change_customer_info .group_input .card_no input {
        width: 90px;
    }
    .change_customer_info .button {
        margin-bottom: 75px;
        margin-top: 50px;
    }
    .my_page_change_password #form-mypage-changepass .form_title{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 375px){
    .title_customer_change_order{
        width: 280px;
    }
    .customer_cancel_booking{
        width: 280px;
    }
    .change_customer_info .group_input .new_data {
        width: 300px;
        height: 35px;
    }
    .change_customer_info .group_input .card_no input {
        width: 70px;
    }
    .change_customer_info .group_input .label_old {
        font-size: 14px;
    }
    .change_customer_info .group_input .old_data {
        font-size: 14px;
    }
    .change_customer_info .group_input .new_data::placeholder {
        font-size: 14px;
    }
}
@media screen and (max-width: 320px) {
    .title_customer_change_order{
        width: 240px;
        font-size: 12px;
        padding: 3px;

    }
    .customer_cancel_booking{
        width: 240px;
        font-size: 12px;
        padding: 3px;
    }
    .change_customer_info .group_button .login {
        font-size: 12px;
        width: 250px;
        padding: 5px 10px;
        float: none;
    }
    .change_customer_info .group_button .button_back {
        font-size: 12px;
        padding: 5px 10px;
        width: 250px;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .change_customer_info .group_button .change_email {
        font-size: 12px;
        padding: 5px 10px;
        width: 250px;
        margin-bottom: 10px;
    }
    .change_customer_info .form_input {
        margin-left: 10px;
    }
    .change_customer_info .group_input .td_old {
        width: 120px;
    }
    .change_customer_info .group_input .label_old {
        width: 100px;
        font-size: 12px;
    }
    .change_customer_info .group_input .label_new {
        margin-left: 5px;
    }
    .change_customer_info .group_input .old_data {
        font-size: 12px;
    }
    .change_customer_info .group_input .new_data {
        width: 220px;
        height: 35px;
    }
    .change_customer_info .group_input .new_data::placeholder {
        font-size: 12px;
    }
    .change_customer_info .group_input .card_no input {
        width: 55px;
    }
    .change_customer_info .button {
        margin-bottom: 75px;
        margin-top: 50px;
    }
}

@media screen and (min-width: 1024px) {
    .cart .cart-list-show .information-detail .information-text{
        bottom: 0px;
        position: absolute;
    }
    .cart .cart-list-show .list-items .information-cart.right{
        position: relative;
        height: 105px;
    }

    .cart .cart-list-show .information-detail{
        display: block;
    }

    .detail-top .info{
        margin-left: 17px;
        margin-right: 18px;
    }

    .detail-top_right .list-button{
        margin-left: 16px;
        margin-right: 17px;
    }
}

@media screen and (max-width: 480px) {
    .number-product-order {
        background: #dd0917 none repeat scroll 0 0;
        border-radius: 10px;
        color: #fff;
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        height: auto;
        line-height: 20px;
        /* margin-left: 8px; */
        width: auto;
        padding: 0 5px;
        position: absolute;
        bottom: 9px;
        right: -10px;
        min-width: 20px;
    }

    .header-sp .item-cart a i{
        position: relative;
    }
}