.pull-right {
    margin-top: 100px !important;
}

.pagination {
    margin: 0 auto;
}

.pagination ul li {
    padding: 5px 10px;
    border: 1px solid #dedede;
    margin: 0 3px;
}

.pagination ul li:hover {
    border: 1px solid red;
    cursor: pointer;
    background-color: white;
}

.pagination ul li:hover > a {
    color: red;
}

.pagination ul .active {
    background-color: red;
}

.pagination ul .active a {
    color: white;
}
.pagination .disabled:hover {
    cursor: no-drop;
    border: 1px solid #dedede;
}