#complete-wrap .title-page{
    display: none;
}
#prog{
    display: none;
}

#main-header{
    display: none;
}

#footer{
    display: none;
}
.back-to-page{
    display: none;
}

.group-btn-bottom{
    display: none;
}