.guild {
    font-family: "Kozuka Gothic Pr6N";
    margin-bottom: 75px;
}

.guild .title_page {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 33px;
    margin-top: 45px;
    margin-left: 5px;
}

.guild .guild_content {
    margin-left: 20px;
}

.guild .guild_content .group_content {
    margin-bottom: 55px;
}

.guild .guild_content .space_top {
    margin-top: 103px !important;
}

.guild .guild_content .space_top1 {
    margin-top: 65px !important;
}

.guild .guild_content .group_content .title_content {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 25px;
}

.guild .guild_content .group_content .description_content {
    font-size: 16px;
    font-weight: 500;
}

.guild .guild_content .group_content .description_content p {
    margin-top: 5px;
}

.guild .guild_content .group_content .description_content a {
    color: #0074d7;
    text-decoration: none;
}

.guild .guild_content .group_content .description_content .description_product {
    margin-top: 35px;
}

.guild .footer_back {
    margin: 0px auto;
    margin-top: 30px;
}

.guild .footer_back a {
    border-bottom: 1px solid #0074d7;
    color: #0074d7;
    font-size: 16px;
}

.privacy {
    font-family: "Kozuka Gothic Pr6N";
    margin-top: 55px;
    margin-bottom: 70px;
}

.privacy .title_page {
    font-size: 26px;
    font-weight: bold;
    margin-left: 5px;
}

.privacy .privacy_content {
    margin-left: 20px;
    margin-top: 30px;
}

.privacy .privacy_content .title_content {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
}

.privacy .privacy_content .privacy_description p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

.privacy .privacy_content .list_content {
    margin-top: 40px;
}

.privacy .privacy_content .list_content .list_title {
    font-size: 16px;
    font-weight: 500;
}

.privacy .privacy_content .list_content .list_description {
    margin-top: 5px;
}

.privacy .privacy_content .list_content .list_description p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
}

.privacy .privacy_content .address {
    font-size: 16px;
    font-weight: 500;
    margin-top: 65px;
}

.privacy .privacy_content .address p {
    margin-top: 5px;
}

.privacy .privacy_content .footer_back_button {
    text-align: center;
    margin-top: 95px;
}

.privacy .privacy_content .footer_back_button a {
    color: #0074d7;
    border-bottom: 1px solid #0074d7;
}

.tokutei {
    margin-top: 55px;
    margin-bottom: 105px;
    font-family: "Kozuka Gothic Pr6N";
}

.tokutei .title_page {
    font-weight: bold;
    font-size: 26px;
    margin-left: 5px;
}

.tokutei .tokutei_content {
    margin-left: 20px;
    margin-top: 30px;
}

.tokutei .tokutei_content .tokutei_description {
    font-weight: 500;
    font-size: 16px;
}

.tokutei .tokutei_content .tokutei_description p {
    margin-top: 5px;
}

.tokutei .table_content {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    margin-top: 55px;
}

.tokutei .table_content .table_border {
    border-bottom: 1px solid #dedede;
}

.tokutei .table_content .table_label {
    width: 25%;
    padding-left: 20px;
}

.tokutei .table_content .table_content {
    width: 70%;
    padding: 10px 0;
}

.tokutei .table_content .table_content p {
    margin-top: 7px;
}

.tokutei .tokutei_footer_back {
    text-align: center;
    margin-top: 105px;
}

.tokutei .tokutei_footer_back a {
    font-size: 16px;
    color: #0074d7;
    border-bottom: 1px solid #0074d7;
}

.browser {
    margin-top: 50px;
    margin-bottom: 275px;
    font-family: "Kozuka Gothic Pr6N";
}

.browser .title_page {
    font-size: 26px;
    font-weight: bold;
    margin-left: 5px;
}

.browser .browser_content {
    margin-left: 20px;
}

.browser .browser_content .browser_description {
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
}

.browser .browser_content .browser_description p {
    margin-top: 5px;
}

.browser .table_browser {
    margin-top: 70px;
}

.browser .table_browser tr {
    border-bottom: 1px solid #dedede;
}

.browser .table_browser .browser_label {
    font-size: 16px;
    font-weight: 500;
    width: 28%;
}

.browser .table_browser .browser_content {
    width: 70%;

}

.browser .table_browser .browser_content .browser_detail {
    margin-top: 20px;
    margin-bottom: 25px;
}

.browser .table_browser .browser_content .browser_detail .browser_name {
    font-weight: bold;
    font-size: 16px;
}

.browser .table_browser .browser_content .browser_detail .browser_name1 {
    font-weight: 400;
    font-size: 16px;
}

.browser .browser_note {
    margin-left: 20px;
    margin-top: 30px;
}

.browser .browser_note p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
}

.browser .browser_back {
    text-align: center;
    margin-top: 100px;
}

.browser .browser_back a {
    color: #0074d7;
    border-bottom: 1px solid #0074d7;
}

.sitemap {
    margin-top: 50px;
    margin-bottom: 130px;
    font-family: "Kozuka Gothic Pr6N";
}

.sitemap .title_page {
    font-size: 26px;
    font-weight: bold;
    margin-left: 5px;
}

.sitemap .sitemap_content {
    margin-left: 20px;
    margin-top: 25px;
}

.sitemap .sitemap_content .sitemap_description {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sitemap .sitemap_content .content {
    margin-bottom: 15px;
}

.sitemap .sitemap_content .content a {
    font-size: 16px;
    font-weight: 500;
    color: #0074d7;
    border-bottom: 1px solid #0074d7;
}

.sitemap .sitemap_back {
    text-align: center;
    margin-top: 130px;
}

.sitemap .sitemap_back a {
    color: #0074d7;
    border-bottom: 1px solid #0074d7;
    font-size: 16px;
    font-weight: 500;
}

.rule {
    margin-top: 55px;
    margin-bottom: 85px;
    font-family: "Kozuka Gothic Pr6N";
}

.rule .container {
    padding-right: 0px;
    padding-left: 0px;
}

.rule .page_title {
    font-size: 26px;
    font-weight: bold;
    margin-left: 5px;
}

.rule .rule_content {
    margin-left: 15px;
    margin-top: 30px;
}

.rule .rule_content .rule_description {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.rule .rule_content .content_top {
    font-size: 16px;
    font-weight: 500;
}

.rule .rule_content .content_group {
    margin-top: 37px;
}

.rule .rule_content .content_group .content_group_title {
    font-size: 16px;
    font-weight: 500;
}

.rule .rule_content .content_group .content_group_rule {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}

.rule .rule_content .content_group .content_group_rule .rule_space {
    margin-top: 33px;
}

.rule .rule_content .content_group .content_group_rule p {
    margin-bottom: 5px;
}

.rule .rule_back {
    text-align: center;
    margin-top: 95px;
}

.rule .rule_back a {
    color: #0074d7;
    border-bottom: 1px solid #0074d7;
    font-size: 16px;
    font-weight: 500;
}

.information {
    margin-top: 50px;
    margin-bottom: 85px;
    font-family: "Kozuka Gothic Pr6N";
}

.information .title_page {
    font-size: 26px;
    font-weight: bold;
    margin-left: 5px;
}

.information .information_content {
    margin-left: 20px;
    margin-top: 30px;
    overflow: auto;
}

.information .information_content .information_data {
    margin-bottom: 15px;
    overflow: auto;
}

.information .information_content .information_data .info_label {
    font-size: 16px;
    font-weight: 500;
    width: 105px;
    float: left;
}

.information .information_content .information_data .info_data {
    float: left;
    width: 80%;
}

.information .information_content .information_data .info_data a {
    color: #0074d7;
    font-size: 16px;
    font-weight: 500;
}

.information .information_back {
    text-align: center;
    margin-top: 65px;
}

.information .information_back a {
    color: #0074d7;
    border-bottom: 1px solid #0074d7;
    font-weight: 500;
}
.information-detail .link a{
    color: #0074d7;
    font-weight: 500;
}
@media (max-width: 768px) {

    .information-detail .title-page .title{
        padding-top: 20px;
    }
    .information-detail .title-page{
        margin-bottom: 50px;
    }
    .information-detail .link{
        padding-bottom: 100px;
    }
    .tokutei {
        margin-top: 20px;
    }

    .tokutei .title_page {
        font-size: 24px;
    }

    .tokutei .tokutei_content {
        margin-bottom: 50px;
    }

    .tokutei .table_content {
        margin-top: 0px;
    }

    .tokutei .table_content .table_label {
        background-color: black;
        color: white;
        padding-left: 0px;
        width: 100%;
        text-align: center;
    }

    .tokutei .table_content .table_content {
        width: 100%;
        text-align: center;
    }

    .tokutei .table_content td, tr {
        display: block;
    }

    .tokutei .table_content td {
        border: none;
        position: relative;
        padding-left: 50%;
    }

    .tokutei .table_content td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .tokutei .tokutei_footer_back {
        margin-top: 50px;
    }

    .browser {
        margin-top: 20px;
        margin-bottom: 75px;
    }

    .browser .browser_content {
        margin-left: 10px;
    }

    .browser .table_browser {
        margin-top: 40px;
    }

    .browser .table_browser tr, td {
        display: block;
    }

    .browser .table_browser .browser_label {
        width: 100%;
        background-color: black;
        color: white;
        overflow: auto;
    }

    .browser .table_browser .browser_label p {
        float: left;
    }

    .browser .table_browser .browser_content {
        clear: both;
    }

    .browser .browser_note {
        margin-left: 10px;
    }

    .browser .browser_back {
        margin-top: 50px;
    }

    .sitemap {
        margin-top: 20px;
        margin-bottom: 100px;
    }

    .sitemap .sitemap_back {
        margin-top: 70px;
    }

    .rule {
        margin-top: 20px;
        margin-bottom: 75px;
    }

    .rule .page_title {
        font-size: 24px;
    }

    .rule .rule_content {
        margin-top: 10px;
    }

    .rule .rule_content .content_group .content_group_title {
        background-color: #dedede;
        padding: 5px;
    }

    .rule .rule_back {
        margin-top: 50px;
    }
    .information{
        margin-top: 20px;
    }
    .information .title_page{
        font-size: 24px;
    }
    .information .information_content{
        margin-left: 10px;
    }
    .information .information_content .information_data .info_label{
        display: block;
        text-align: center;
        width: 100%;
        background-color: #dedede;
        padding: 5px;
        margin-bottom: 10px;
    }
    .information .information_content .information_data .info_data{
        display: block;
        width: 100%;
    }
    .information .information_back{
        margin-top: 40px;
    }
}

@media (max-width: 414px) {
    .privacy {
        margin-top: 35px;
    }

    .privacy .title_page {
        font-size: 24px;
    }
}